
.footer {
    margin-top: 4px;
}

.footer a {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCC;
}

.header sup {
	font-size: 50%;
}

.clickable {
	cursor: pointer;
}

.rawData {
	display: none;
}

ul.errors li {
	color: red;
	text-align: center;
	font-size: 80%;
}

body {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.bmrcp-n {
    background-color:#FAF5CE;
    border-color:#FFDD66 #FFDD66 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0;
    position:relative;
}
.bmrcp-n .bmrcp-e {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURYellow.gif) no-repeat scroll right top;
    position:relative;
    right:-1px;
    top:-1px;
}
.bmrcp-n .bmrcp-w {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULYellow.gif) no-repeat scroll left top;
    font-size:0;
    height:6px;
    left:-2px;
    position:relative;
}

.bmrcp-head {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FAF5CE url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGYellowGrad1.gif) repeat-x scroll center bottom;
    border-color:#FFDD66 #FFDD66 #CCCCCC;
    border-style:solid;
    border-width:0 1px 1px;
    color:#5D5D5D;
    font-family:Arial,Helvetica,sans-serif;
    font-size:medium;
    font-weight:bold;
    padding:0 6px 6px 8px;
    position:relative;
}

table.buckets {
    width: 100%;
}

table.buckets td.bucket {
    width: 33%;
    padding: 2px;
}

div.tasks {
    overflow-y: auto;
    height: 300px; //this just gives a default value that keeps elements from jumping around on load
}

td.bucket table.yui3-dd-drop-over, td.bucket div.yui3-dd-drop-over.bmrcp-head {
    border-bottom: 2px solid black;
}

table.task {
    border: 1px solid #CCC;
    margin: 0;
	width: 100%;
	height: 2em;
}

table.task td.title {
    cursor: move;
    width: 80%;
}

table.usr-func td.title {
	font-weight: 600;
}

table.task td.statistic {
    width: 10%;
}

table.task a.collapsible {
	padding-left: 0.3em;
	font-size: 120%;
}

#headline h2 {
	color: #89B31F;
	font-size: 220%;
	margin: 0 0 0.4em;
}

#headline p {
	text-align: left;	
	font-size: 120%;
	line-height: 1.5em;
	margin-bottom: 1em;
}

#headline strong {
	border-bottom: 1px solid #D9D9D9;
	color: #666666;
	font-size: 120%;
	font-weight: bold;
	margin: 1em 0 0.5em;
	padding-bottom: 0.1em;
}

div#headline {
	width: 50%;
	float: left;
	margin: 1em 2em 3em 2em;
}

div#login {
	font-size: 120%;
	width: 20em;
	float: right;
	margin: 1em 3em 1em 2em;
}

div#login form {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

div#steps {
	clear: both;
}

#projects h2 {
	color: #89B31F;
	font-size: 220%;
	margin: 0 0 0.4em;
}

#projects a {
	display: block;
}

form {
	padding: 10px;
	text-align: left;
}
form label {
	display: block;
	text-align: left;
}
form input.fill, form textarea.fill {
 	width: 100%
}
form fieldset {
	border: 1px solid #CCC;
	padding: 4px; 
}
form button:hover {
	cursor: pointer;
}

a:active, a:link, .g-novisited a:visited {
color:#0000CC;
text-decoration:none;
}
a:visited {
color:#990099;
text-decoration:none;
}
.g-b {
font-weight:bold;
}
.g-em {
color:#009900;
font-weight:bold;
}
.g-err {
color:#FF0000;
}
.g-hlp {
color:#666666;
}
.g-pipe {
color:#9999FF;
}
.g-txtBx, .g-btn, .g-nav {
font-family:Verdana;
font-size:x-small;
}
.g-txtBxHlp {
color:#666666;
font-family:Verdana;
font-size:x-small;
}
.g-m0 {
margin:0;
}
a:hover {
text-decoration:underline;
}
.g-i {
font-style:italic;
}
.g-bi {
font-style:italic;
font-weight:bold;
}
.g-dft {
font-weight:normal;
}
.g-dfti {
font-style:italic;
font-weight:normal;
}
.g-s {
font-size:small;
}
.g-xs {
font-size:x-small;
}
.g-m {
font-size:medium;
}
.g-l {
font-size:large;
}
.g-xl {
font-size:x-large;
}
.g-hdn {
left:-1000px;
position:absolute;
top:-1000px;
}
.gh-ovr {
left:-1000px;
position:absolute;
z-index:9999;
}
.gh-iovr {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
float:left;
}
.gh-ext {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-top:1px solid #FFFFFF;
font-size:0;
margin-top:-1px;
position:relative;
}
.gh-esb {
margin:-5px 5px 0 0;
}
.gh-esb, .gh-emn {
float:right;
}
.gh-emn {
margin-top:-4px;
}
.gh-esb input {
margin:0;
vertical-align:middle;
}
.gh-txt {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FCFCFC none repeat scroll 0 0;
border-color:#CCCCCC;
border-style:solid;
border-width:1px 0 1px 1px;
display:inline-block;
height:18px;
padding:0;
width:150px;
}
.gh-go {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#BDBABD none repeat-x scroll 0 -292px;
border-color:#CCCCCC;
border-style:solid;
border-width:1px 1px 1px 0;
display:inline-block;
font-family:Trebuchet MS;
font-size:0.846em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:20px;
line-height:normal;
padding:0;
width:24px;
}
a:hover .gh-go {
background-position:0 -330px;
}
.gh-eb .gh-mn a, .gh-eb .gh-mn a:link, .gh-eb .gh-mn a:visited, .gh-eb .gh-mn a:active {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#FFFFFF url(http://pics.ebaystatic.com/aw/pics/globalHeader/imgHdrMainNavBg3.gif) no-repeat scroll 0 3px;
border-color:#FFFFFF;
border-style:solid;
border-width:1px 1px 0;
color:#666666;
display:inline-block;
float:none !important;
font-family:Trebuchet MS;
font-size:0.923em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin-right:-2px;
padding:3px 10px;
text-decoration:none;
}
.gh-eb .gh-mn .gh-fst a, .gh-eb .gh-mn .gh-fst a:visited, .gh-eb .gh-mn a.gh-hso:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.gh-eb .gh-mn a:hover {
color:#333333;
text-decoration:underline;
}
.gh-eb .gh-mn a:hover, .gh-eb .gh-mn a.gh-hso, .gh-eb .gh-mn a.gh-hso:visited {
background-position:-50px 0;
border-color:#CCCCCC #CCCCCC #FFFFFF;
position:relative;
z-index:10000;
}
.gh-eb .gh-mn .gh-nho a:hover {
background-position:0 3px;
border-color:#FFFFFF;
position:static;
}
.gh-hid {
display:none;
}
.gh-esmn table {
margin:5px;
}
.gh-esmn td a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#DDE5F4 none repeat scroll 0 0;
text-decoration:none;
}
.gh-esmn td a, .gh-esmn td a:link, .gh-esmn td a:active, .gh-esmn td a:hover {
-x-system-font:none;
color:#666666;
display:block;
font-family:Arial;
font-size:0.923em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
padding:5px;
text-align:left;
text-decoration:none;
}
.gh-esmn td a:visited {
color:#784A99;
}
.gh-esmn div.gh-smn {
float:left;
padding:10px 15px 0;
}
.gh-emn a:hover {
text-decoration:underline;
}
.gh-sbox {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F4F4F4 none repeat scroll 0 0;
overflow:hidden;
padding:0 10px;
}
.gh-fl {
float:left;
}
.gh-sbox select, .gh-sbox input {
border:1px solid #AAAAAA;
margin:6px 10px 7px 0;
vertical-align:middle;
}
.gh-sbox .gh-tb {
padding:3px 0;
width:400px;
}
.gh-sbox .gh-sb {
-x-system-font:none;
color:#666666;
font-family:trebuchet MS;
font-size:0.923em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
padding:1px 2px;
width:220px;
}
.gh-sbox .gh-btn, .gh-sbox .gh-bh, .gh-sbox .gh-bc {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#99CC00 none repeat-x scroll 0 0;
border:0 none;
color:#FFFFFF;
font-family:arial;
font-size:1.077em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:16px;
margin:0;
padding:3px 17px;
}
.gh-sbox a.gh-ss:hover {
text-decoration:none;
}
.gh-sbox a:hover .gh-btn {
background-position:0 -48px;
}
.gh-sbox a .gh-bc {
background-position:0 -96px;
}
.gh-sbox .gh-as {
margin-top:6px;
padding:7px 0 0 15px;
}
.gh-sbc {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#F4F4F4 none repeat scroll 0 0;
font-family:arial;
font-size:x-small;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
padding:0 10px 10px;
}
.gh-sbox .gh-as a {
-x-system-font:none;
font-family:verdana;
font-size:0.846em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.gh-rsc {
width:675px;
}
.gh-rls {
padding-right:10px;
}
.gh-clr {
clear:both;
font-size:0;
height:0;
overflow:hidden;
}
.gh-hbw {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7F3F7 none repeat-x scroll 0 -192px;
border-bottom:1px solid #CCCCCC;
height:29px;
}
.gh-hb, .gh-lbh1, .gh-lbh2, .gh-hb .gh-mn a, .gh-hb .gh-mn span {
float:left;
}
.gh-lbh1, .gh-lbh2 {
height:29px;
overflow:hidden;
}
.gh-hb .gh-mn a {
border-left:1px solid #CCCCCC;
display:block;
padding:6px 14px 5px 15px;
}
div.gh-hb {
border-right:1px solid #CCCCCC;
}
.gh-hb .gh-mn a, .gh-hb .gh-mn a:link, .gh-hb .gh-mn a:active, .gh-hb .gh-mn a:visited {
-x-system-font:none;
color:#666666;
font-family:Trebuchet MS;
font-size:0.923em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
}
.gh-hb .gh-mn .gh-fst {
border:0 none;
}
.gh-hb .gh-ua a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none no-repeat scroll 50% 100%;
border:0 none;
padding:2px 14px 9px;
position:relative;
top:3px;
}
.gh-hb .gh-ua a:hover {
background-color:transparent !important;
}
.gh-hb .gh-act {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat-x scroll 0 -242px;
border-left:1px solid #CCCCCC;
position:relative;
top:1px;
}
.gh-hb .gh-mn .gh-ai {
border:0 none;
cursor:pointer;
padding:0 0 1px;
}
.gh-hb .gh-mn .gh-ai b {
background-position:50% -7px;
background-repeat:no-repeat;
border-left:1px solid #E8E8E8;
display:inline-block;
margin:2px 0;
padding:3px 0;
width:24px;
}
.gh-hb .gh-mn a:hover, .gh-hb .gh-mn .gh-hs {
background-color:#E8E8E8;
}
.gh-hb .gh-mn .gh-ai:link, .gh-hb .gh-mn .gh-ai:visited, .gh-hb .gh-mn .gh-ai:active, .gh-hb .gh-mn .gh-ai:hover {
text-decoration:none;
}
.gh-lbh3 {
clear:right;
float:right;
}
.gh-rtm {
padding:2px 0;
}
.gh-clr {
clear:both;
font-size:0;
height:0;
line-height:0;
overflow:hidden;
}
.gh-mn .gh-fst {
border-left:0 none;
}
.gh-hid {
display:none;
}
.gh-hsmn .gh-smn {
float:left;
padding:10px 0;
}
.gh-hsmn td {
padding:2px 5px;
}
.gh-hsmn td a, .gh-hsmn td a:link, .gh-hsmn td a:active {
color:#666666;
display:block;
font-size:0.923em;
padding:2px 10px;
text-align:left;
}
.gh-hsmn td a:visited {
color:#784A99;
}
.gh-hsmn td a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#DDE5F4 none repeat scroll 0 0;
text-decoration:none;
}
.gh-hsmn {
background-color:#F4F4F4;
}
.gh-hb .gh-mn .gh-hbdr, .gh-hb .gh-mn .gh-hbdp {
background-color:#FFFFFF !important;
border-bottom:1px solid white;
}
.gh-hb .gh-mn .gh-hbdp {
padding-bottom:1px;
}
.gh-zidx {
z-index:10000;
}
.gh-vnl {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#4D89C8 none repeat scroll 0 0;
color:#E8E8E8;
font-family:Trebuchet MS;
font-size:0.923em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:20px;
line-height:normal;
margin-top:2px;
overflow:hidden;
padding:0 5px 0 15px;
}
.gh-cNav {
float:left;
width:60%;
}
.gh-sm {
float:left;
width:10%;
}
.gh-cat, .gh-sm {
margin-right:20px;
white-space:nowrap;
}
.gh-vnl a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:transparent none no-repeat scroll -5px 2px;
color:#FFFFFF !important;
font-family:Arial;
font-size:0.917em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:20px;
padding:0 5px 0 10px;
text-decoration:none;
white-space:nowrap;
}
.gh-see a {
padding:0;
}
.gh-vnl .gh-fst {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
}
.gh-iNav a {
float:right;
line-height:normal;
margin:3px 0 0;
}
.gh-iNav .gh-bbt {
padding-right:0;
}
.gh-iA .gh-barr {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none no-repeat scroll 50% -25px;
display:block;
padding:0 5px 0 8px;
}
.gh-iA .gh-barr:hover {
text-decoration:none;
}
.gh-vsmn {
background-color:#4D89C8;
padding:10px 15px 3px;
}
.gh-vmnu ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
width:95px;
}
.gh-vmnu li {
padding:0 0 7px;
}
.gh-vmnu a, .gh-vmnu a:visited, .gh-vmnu a:link, .gh-vmnu a:active {
-x-system-font:none;
color:#FFFFFF;
font-family:arial;
font-size:0.846em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.gh-vnl a:hover, .gh-vmnu a:hover {
text-decoration:underline;
}
.gh-hid {
display:none;
}
.gh-w {
min-width:760px;
padding:10px 0;
}
.gh-log {
float:left;
max-width:60%;
white-space:nowrap;
}
.gh-log .gh-lg img {
margin-bottom:-5px;
position:relative;
}
.gh-log .gh-ui {
-x-system-font:none;
color:#333333;
font-family:verdana;
font-size:0.846em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.gh-log span, .gh-log a {
display:inline-block;
}
.gh-rph {
clear:right;
float:right;
padding-top:12px;
}
.gh-rtm {
padding:5px 0 0;
}
.gh-cl {
clear:both;
font-size:0;
height:7px;
overflow:hidden;
}
.gh-clr {
clear:both;
font-size:0;
height:0;
overflow:hidden;
}
.gh-hbw, .gh-hb .gh-act, .gh-go, .gh-sbox input.gh-btn {
background-image:url(http://pics.ebaystatic.com/aw/pics/homepage/sprHdr4.png);
}
.gh-hb .gh-mn .gh-ai b, .gh-iA .gh-barr, .gh-hb .gh-mn .gh-ua a, .gh-vnl a {
background-image:url(http://pics.ebaystatic.com/aw/pics/homepage/imgArrowDot.png);
}
.gh-mncn {
display:block;
left:-9999px;
position:absolute;
}

.emlcontent {
padding-top:0 !important;
}
#globalHeader {
position:inherit !important;
}
.greeting {
margin:28px 0 0 10px;
}
.addllinks {
white-space:nowrap;
}
.addllinks a:active, .addllinks a:focus, .addllinks a:link, .addllinks a:visited {
font-size:x-small;
}
.addllinks img {
padding-right:5px;
}
.addllinks a:active, .addllinks a:link, .addllinks a:visited {
-x-system-font:none;
font-family:verdana;
font-size:0.846em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-decoration:none;
}
.greeting a:hover, .addllinks a:hover {
text-decoration:underline;
}
#cobrandFooter {
text-align:left;
}
.greeting #bta {
display:inline;
}
.coupon div {
vertical-align:bottom;
}
.coupon {
-x-system-font:none;
font-family:verdana;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin-left:5px;
white-space:nowrap;
}
.coupon img {
margin-right:5px;
vertical-align:text-bottom;
}
.coupon a:active, .coupon a:link, .coupon a:visited, .coupon a:hover {
-x-system-font:none;
font-family:verdana;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-decoration:none;
}
.rebate img {
float:left;
}
.reward {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/rewards/ebaybucks/imgBucks_35x13.gif) no-repeat scroll left bottom;
padding-left:40px;
}
.headerBG {
background-image:url(http://pics.ebaystatic.com/aw/pics/buy/trust/imgGuaranteeHeaderD_new.jpg);
background-position:right bottom;
background-repeat:no-repeat;
bottom:0;
clear:right;
float:right;
margin:0 0 -8px;
padding:16px 24px 0 0;
right:0;
}
.headerBGPL {
bottom:0;
clear:right;
float:right;
margin:0 0 -8px;
padding-top:16px;
right:0;
}
.headerBG a, .headerBGPL a {
color:#0000CC;
}
.headerBG td, .headerBGPL td {
white-space:nowrap;
}
.headerBG img, .headerBGPL img {
margin-right:6px;
}
.acrc-roundcont {
display:none;
position:absolute;
z-index:1;
}
.acrc-roundbottom {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgAutofillLLGrey.gif) no-repeat scroll left top;
padding-left:5px;
}
.acrc-roundbottomright {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgAutofillLRGrey.gif) no-repeat scroll right top;
padding-right:5px;
}
.acrc-roundbottomMiddle {
background-color:#FFFFFF;
border-color:#7C7C7C;
border-style:solid;
border-width:0 0 1px;
font-size:1px;
height:4px;
}
.acrc-roundoutside {
border-color:#7C7C7C;
border-style:solid;
border-width:0 1px;
}
.acrc-roundtopside {
border-color:#7C7C7C;
border-style:solid;
border-width:1px 0 0;
}
.ac-ac_div {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white url(http://pics.ebaystatic.com/aw/pics/icons/iconAutofillDown_12x10.gif) no-repeat scroll center center;
border-color:#7F9DB9;
border-style:solid;
border-width:1px 1px 1px 0 !important;
cursor:pointer;
display:none;
left:-8px;
margin-right:-4px;
padding:3px 0;
position:relative;
width:18px;
}
input.ac-ac_div {
border-left:0 solid #AAAAAA;
left:-10px;
margin:6px 0 7px;
}
.ac-ac_mo_div {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white url(http://pics.ebaystatic.com/aw/pics/icons/iconAutofillDown_12x10.gif) no-repeat scroll center center;
border-color:#7F9DB9;
border-style:solid;
border-width:1px 1px 1px 0;
cursor:pointer;
display:none;
left:-8px;
margin-right:-4px;
padding:2px;
position:relative;
width:18px;
}
.acl {
font-family:Arial,Helvetica,sans-serif;
font-size:small;
overflow:hidden;
text-align:left;
width:233px;
}
.acl .hide {
display:none;
}
.acl .hl {
color:#0000CC;
font-weight:bold;
}
.acl .sel {
background-color:#E0EDFF;
cursor:pointer;
overflow:hidden;
padding:0 5px;
white-space:nowrap;
}
.acl .unsel {
background-color:#FFFFFF;
cursor:pointer;
overflow:hidden;
padding:0 5px;
white-space:nowrap;
}
.acl tr.sel {
overflow:visible;
padding:0;
white-space:normal;
}
.acl tr.unsel {
overflow:visible;
padding:0;
white-space:normal;
}
.acl div.sug {
background-color:#FFFFFF;
color:#5D5D5D;
line-height:18px;
padding:5px;
}
.acl div.nosug {
background-color:#FFFFFF;
color:#5D5D5D;
line-height:18px;
padding:5px 10px;
}
.acl div.affooter {
background-color:#FFFFFF;
border-top:1px solid #E7E7E7;
height:12px;
padding-top:3px;
text-align:right;
}
.acl a.hlink {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/icons/iconAutofillUp_12x10.gif) no-repeat scroll right center;
color:#5D5D5D;
font-family:Verdana;
font-size:x-small;
margin-right:13px;
padding-right:25px;
text-decoration:none;
}
.acl a.hlink:hover {
text-decoration:underline;
}
.acl .prd {
font-family:Verdana;
font-size:10px;
padding:5px;
}
.acl .prd .ptl {
background-color:#FFFFFF;
font-family:Verdana;
font-size:10px;
padding:0 3px;
position:relative;
top:-5px;
}
.acl .pln {
border-top:1px solid #E7E7E7;
color:#999999;
line-height:6px;
text-align:center;
}
.acl .prd .hl {
font-family:Verdana;
font-size:10px;
}
.acl .prd td {
color:#333333;
font-family:Verdana;
font-size:10px;
}
.acl .prd div.tbw {
width:100%;
}
div#tdDiv {
padding:3px 5px;
width:222px;
}
div#tdDiv div {
padding:5px;
}
div#tdDiv div.sel {
border:1px solid #8DACEA;
padding:4px;
}
.ghhidden {
display:none;
}
.gh-sc img {
float:left;
padding:0 5px 0 0;
position:relative;
top:-3px;
}
#dailydealitem {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/icons/iconNewPurple_28x13.gif) no-repeat scroll right 7px;
padding-right:24px;
}
#dailydealspitem {
color:white;
width:11px;
}
.gh-col {
height:2px;
overflow:hidden;
white-space:nowrap;
}
.gh-col b {
display:inline-block;
font-size:0;
height:2px;
overflow:hidden;
vertical-align:top;
white-space:nowrap;
}
.gh-col .gh-c1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FF0000 none repeat scroll 0 0;
width:22%;
}
.gh-col .gh-c2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#990033 none repeat scroll 0 0;
width:4%;
}
.gh-col .gh-c3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#000099 none repeat scroll 0 0;
width:22%;
}
.gh-col .gh-c4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CC6600 none repeat scroll 0 0;
width:4%;
}
.gh-col .gh-c5 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFCC00 none repeat scroll 0 0;
width:22%;
}
.gh-col .gh-c6 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#999900 none repeat scroll 0 0;
width:4%;
}
.gh-col .gh-c7 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#99CC00 none repeat scroll 0 0;
width:22%;
}
.gh-clr {
clear:both;
font-size:0;
height:0;
overflow:hidden;
}
.coreFooterLinks a:active, .coreFooterLinks a:focus, .coreFooterLinks a:hover, .coreFooterLinks a:link {
color:#0000CC;
font-family:Verdana;
font-size:x-small;
}
.coreFooterLinks a:visited {
font-family:Verdana;
font-size:x-small;
}
.coreFooterLegalNotice {
color:#666666;
font-family:Verdana;
font-size:x-small;
}
.coreFooterVerisign {
margin:10px 25px 0 125px;
}
.footerBG {
color:#666666;
font-family:Verdana;
font-size:x-small;
padding:1px 0 5px;
}
.footerBG a {
color:#0000CC;
}
.footerBG img {
margin-right:6px;
}
.gh-vs {
background-color:#EFEFEF;
border:1px solid #666666;
width:340px;
}
.gh-vs .gh-cw {
padding:10px 0;
}
.gh-vs .gh-cbtn {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://pics.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif) no-repeat scroll left bottom;
cursor:pointer;
display:inline;
float:right;
height:16px;
padding:1px 6px 0 0;
width:16px;
}
.gh-vs .gh-ttl {
color:#333333;
font-size:medium;
font-weight:bold;
padding:0 15px;
}
.gh-vs .gh-ct {
clear:both;
padding:10px 15px 0;
}
.ebayfooter {
color:#666666;
font-family:Verdana;
font-size:x-small;
}


